Postgrest does not respond with a Preference-Applied header

HTTP Preferences are intended to be optional requests by clients that servers can choose to ignore at whim. Because of this, if a server chooses to honor a preference it may respond with a `Preference-Applied` header listing the preferences the server applied to the request. Postgrest does not return this header, meaning clients cannot tell immediately what preferences were applied without analyzing the response body.

This behavior is documented by [section 3 of RFC 7240](https://tools.ietf.org/html/rfc7240#section-3). Inclusion of the header is optional, but the RFC specifically points out this is a good idea for the "return=representation" preference since it can be difficult for clients to determine whether this was applied or not.

> As things stand now there is not a single case of preference header that postgrest ignores so there is no practical reason for adding this response besides "respecting RFC". **When a client sends a header, it's 100% applied,** no need to look at the body. Unless there is a specific problem this solves, it's just additional bytes in the response

@steve-chavez does that mean whenever the client sends a `Prefer: return=representation` the postgrest server honors it every time on a successful response?

@taimoorzaeem Yes, it does.

@steve-chavez Also, is it allowed to respond with multiple Preference-Applied header?, for example

```
Content-Type: ...
Preference-Applied: return=representation
Preference-Applied: tx=rollback
```

Yes, but it'd be clearer/shorter to have them as a single header with comma separated values, which is also valid.

```
Preference-Applied: return=representation, tx=rollback
```

See https://greenbytes.de/tech/webdav/rfc2616.html#rfc.section.4.2